.btn {
    padding: 10px;
    border: none;
    background-color: hsla(240, 100%, 59%, 0.8);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: hsla(240, 100%, 59%, 1);
}
